body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.35px;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.markdown-body pre {
  overflow-x: hidden !important;
}

.App {
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}

a[disabled] {
  pointer-events: none;
}

.deck-description p {
  margin-bottom: 0;
}

.deck-item {
  height: 150px;
}
@media (min-width: 576px) {
  .deck-item {
    height: 220px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .deck-item {
    height: 260px;
  }
}

.deck-star {
  background: none;
  border: none;
  cursor: pointer;
}

.deck-star:hover {
  fill: blue;
  color: blue;
}

.font-weight-medium {
  font-weight: 500;
}

@media (max-width: 992px) {
  .flashcard-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .flashcard-container > .col-12 {
    border-left: none !important;
    border-right: none !important;
  }
}

.flashcard-body pre {
  width: 100%;
}

.flashcard-option {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.flashcard-option:last-of-type {
  margin-bottom: 0;
}

.flashcard-option--disabled {
  opacity: 0.5;
}

.deck-vote {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding-top: 20px;
  display: block;
}

.deck-vote--active {
  opacity: 1;
  padding-top: 0;
  display: hidden;
}

.deck-item .save svg {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  fill: #999999;
}

.deck-item:hover .save {
  display: flex;
}

.deck-item .save {
  display: none;
  cursor: pointer;
  border: 1px solid #eeeeee;
  color: #999999;
}

.deck-item .save-active svg {
  fill: white;
}

.deck-item .save:hover {
  background: #eeeeee;
}
