body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.35px;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.App {
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}

.container--narrow {
  max-width: 960px;
}

a[disabled] {
  pointer-events: none;
}

.deck-description p {
  margin-bottom: 0;
}

.deck-item {
  height: 150px;
}
.donate-button {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .deck-item {
    height: 220px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .deck-item {
    height: 260px;
  }
}

.deck-star {
  background: none;
  border: none;
  cursor: pointer;
}

.deck-star:hover {
  fill: blue;
  color: blue;
}

.font-weight-medium {
  font-weight: 500;
}

@media (max-width: 992px) {
  .flashcard-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .flashcard-container > .wrapper {
    border-left: none !important;
    border-right: none !important;
  }
}

.flashcard-container .wrapper {
  min-height: 400px;
  border-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.flashcard-body pre {
  width: 100%;
}

.flashcard-option {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.flashcard-option:last-of-type {
  margin-bottom: 0;
}

.flashcard-option--disabled {
  display: none !important;
}

.deck-vote {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding-top: 20px;
  display: block;
}

.deck-vote--active {
  opacity: 1;
  padding-top: 0;
  display: hidden;
}

.deck-item .save svg {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  fill: #999999;
}

.deck-item:hover .save {
  display: flex;
}

.deck-item .save {
  display: none;
  cursor: pointer;
  border: 1px solid #eeeeee;
  color: #999999;
}

@media (max-width: 992px) {
  .deck-item .save {
    display: flex;
  }
}
.deck-item .save-active svg {
  fill: white;
}

.deck-item .save:hover {
  background: #eeeeee;
}

.header-right {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -50px;
  z-index: 2;
  width: 150px;
  float: right;
}

.feedback-form .text-underline {
  text-decoration: underline;
}

.feedback-form .text-underline:hover {
  text-decoration: none;
}

.progress-review-buttons {
  width: 100%;
  text-align: center;
}

.navbar {
  padding: 0rem 1rem;
  display: block;
  margin-top: 20px;
  z-index: 1;
  width: 300px;
}

.progress-current {
  width: 14px!important;
  height: 14px!important;
}

.progress-index{
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 480px) {
  .navbar {
    margin-top: 50px;
  }
  .habit-tracker {
    display: block!important;
    text-align: center;
  }
  .habit-tracker_calender {
    display: -webkit-inline-box!important;
    width: 160px;
  }
}

.rc-tooltip-content {
  max-width: 175px;
}
