body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.35px;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.App {
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}
.btn-reset {
  background: none;
  border: none;
}

.container--narrow {
  max-width: 960px;
}

.container--full {
  max-width: 1140px;
}

a[disabled] {
  pointer-events: none;
}

.deck-description p {
  margin-bottom: 0;
}

.deck-item {
  height: 150px;
}
.donate-button {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .deck-item {
    height: 220px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .deck-item {
    height: 260px;
  }
}

.deck-star {
  background: none;
  border: none;
  cursor: pointer;
}

.deck-star:hover {
  fill: blue;
  color: blue;
}

.font-weight-medium {
  font-weight: 500;
}

@media (max-width: 992px) {
  .flashcard-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .flashcard-container > .wrapper {
    border-left: none !important;
    border-right: none !important;
  }
}

.flashcard-container .wrapper {
  min-height: 400px;
  border-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.flashcard-body pre {
  width: 100%;
}

.flashcard-option {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.flashcard-option:last-of-type {
  margin-bottom: 0;
}

.flashcard-option--disabled {
  display: none !important;
}

.deck-vote {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding-top: 20px;
  display: block;
}

.deck-vote--active {
  opacity: 1;
  padding-top: 0;
  display: hidden;
}

.deck-vote .vote-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-vote .vote-options div {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.deck-vote .vote-options div:hover {
  font-size: 40px;
}

.deck-item .pin-btn svg {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  fill: #999999;
}

.deck-item:hover .pin-btn {
  display: flex;
}

.deck-item .pin-btn {
  display: none;
  cursor: pointer;
  border: 1px solid #eeeeee;
  color: #999999;
}

@media (max-width: 992px) {
  .deck-item .pin-btn {
    display: flex;
  }
}
.deck-item .pin-btn-active svg {
  fill: white;
}

.deck-item .pin-btn:hover {
  background: #eeeeee;
}

.text-underline {
  text-decoration: underline;
}

.text-underline:hover {
  text-decoration: none;
}

. .progress-review-buttons {
  width: 100%;
  text-align: center;
}

.navbar {
  padding: 0rem 1rem;
  display: block;
  margin-top: 20px;
  z-index: 1;
  width: 300px;
}

.progress-current {
  width: 14px !important;
  height: 14px !important;
}

.progress-index {
  width: 10px;
  height: 10px;
}

@media (max-width: 480px) {
  .navbar {
    margin-top: 50px;
  }
}

.rc-tooltip-content {
  max-width: 175px;
}

.header {
  cursor: pointer;
  border-bottom: 1px solid #e9ecef;
}

.header-login .header-image {
  width: 40px;
  height: 40px;
}

#header-logout {
  background: white;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 8px 12px;
  font-weight: 500;
  color: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.share-button {
  color: #dddddd;
  transition: all 0.2s ease-in-out;
}

.share-button:hover {
  color: #363a40;
  animation: jump 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes jump {
  25% {
    transform: translate3d(0, -4px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
  75% {
    transform: translate3d(0, -2px, 0);
  }
}

.collection-item {
  height: 200px;
}
.collection-item .item-link {
  border: 1px solid #e8e8e8;
  justify-content: center;
  align-items: center;
}
.collection-item .item-link:hover {
  text-decoration: none;
}
.collection-item .text-secondary {
  color: #9b9b9b;
  line-height: 1.25em;
  font-size: 0.85em;
}
.collection-item .collection-image {
  background: #f1f1f1;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

@media (min-width: 992px) {
  .collection-item {
    height: 200px;
  }
}

.rc-tooltip-content .tooltip-item {
  padding-bottom: 6px;
  padding-top: 6px;
}

.loginModal {
  left: 0;
  right: 0;
  top: 20px;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  max-width: 600px;
}

.loginModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.loginModal-close {
  position: absolute;
  top: 8px;
  right: 12px;
}

.loginModal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 1rem;
}
.loginPrompt {
  top: 0;
  right: 0;
  left: 0;
  background-color: #e4efff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  color: #1b3e72;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn-darkblue {
  border-color: #1b3e72;
  color: #1b3e72;
  background: transparent;
}
.btn-darkblue:hover {
  border-color: #1b3e72;
  color: #ffffff;
  background: #1b3e72;
}

.loginPrompt .btn-darkblue {
  padding: 3px 10px;
}

@media (min-width: 576px) {
  .loginModal {
    top: 200px;
    bottom: auto;
  }
  .loginModal-button {
    width: auto;
  }
}

.pinned-row .deck-item {
  max-height: 150px;
}
