body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.35px;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

.markdown-body pre {
  overflow-x: hidden !important;
}

.App {
  min-height: 100vh;
}

a[disabled] {
  pointer-events: none;
}

code {
  white-space: nowrap;
}

.flashcard-body pre {
  width: 100%;
}

.deck-description p {
  margin-bottom: 0;
}

.deck-star {
  background: none;
  border: none;
  cursor: pointer;
}

.deck-star:hover {
  fill: blue;
  color: blue;
}

.font-weight-medium {
  font-weight: 500;
}
